html {
    scroll-behavior: smooth !important;

    --green: #073f34;
    --light-green: #14977d;
    --dark-green: #063a34;
    --green-transparent: #073f3402;
    --green-transparent-two: #073f3455;
    --white: #FFF;
    --white-transparent: #FFFFFF99;
    --off-white: #F1EFE4;
    --black: #000;
    --gray: #555;
    --sloped-elements-height: 75px;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--white);
    font-size: 16px;
    font-family: Roboto, sans-serif;
    height: 100dvh;
    overflow: auto;
}

body * {
    box-sizing: inherit;
}

/*****
HEADER
*****/
header {
    display: flex;
    flex-flow: nowrap column;
    width: 100%;
}

header section {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

header section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--green-transparent), var(--green-transparent), var(--green));
}

header section date {
    width: 100%;
    margin: 0;
    position: absolute;
    color: var(--white);
    font-size: 5rem;
    text-align: center;
    font-weight: 900;
    text-shadow: 0 0 1rem var(--black);
    mix-blend-mode: overlay;
    white-space: nowrap;
}

header section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 90%;
}

header nav {
    width: 100%;
    height: 10vh;
    z-index: 2;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    border-top: 3px solid var(--dark-green);
}

header nav ul li {
    width: 100%;
    height: 100%;
}

header nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--green);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.15rem;
    font-weight: 900;
}

header nav ul li a:hover,
header nav ul li a:active {
    background-color: var(--dark-green);
    color: var(--white);
}

header nav ul li a svg {
    width: auto;
    height: 2rem;
}

header nav ul li a span {
    margin-left: 1rem;
}

/***********
MAIN CONTENT
***********/
main > section {
    min-height: 100dvh;
    height: fit-content;
    text-align: center;
    padding: 3rem 5rem;
}

main > section > h2,
main > section > div > h2 {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 36px;
    letter-spacing: 0.15rem;
    font-weight: 900;
    margin: 0;
}

main > section#invitation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 24px;
    max-width: 720px;
    margin-inline: auto;
}

main > section#invitation :is(p, h2) {
    margin: 0;
    line-height: 1.5;
}

main > section#invitation .date {
    text-transform: uppercase;
    font-size: 40px;
    white-space: nowrap;
}

main > section#invitation .date span {
    font-size: 32px;
    text-decoration: overline underline;
    padding-inline: 1ch;
}

main > section#invitation a {
    background-color: var(--dark-green);
    color: var(--white);
    font-weight: bold;
    padding: 1rem 3rem;
    text-decoration: none;
    border-radius: 0.5rem;
    white-space: nowrap;
}

main > section#information,
main > section#pictures {
    background-color: var(--green);
    color: var(--white);
    position: relative;
}

main > section#information::before,
main > section#pictures::before,
main > section#information::after {
    content: '';
    display: block;
    background-color: var(--green);
    max-width: 100vw;
    height: var(--sloped-elements-height);
    position: absolute;
    left: 0;
    right: 0;
}


main > section#information::before,
main > section#pictures::before {
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    top: calc(var(--sloped-elements-height) * -1 + 1px);
}


main > section#information::after {
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    bottom: calc(var(--sloped-elements-height) * -1 + 1px);
}


main > section#information ul {
    list-style: none;
    margin: 3rem 0 0;
    padding: 0;
}

main > section#information ul li {
    margin: 3rem 0;
    padding: 0;
}

main > section#information ul li :is(p, h3) {
    margin: 0.75rem 0;
}

main > section#information ul li .groomsman {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

main > section#information ul li .groomsman ul {
    width: max-content;
    margin: 0;
    padding: 0;
    text-align: start;
    line-height: 1;
}

main > section#information ul li .groomsman ul:first-of-type {
    text-align: end;
}

main > section#information ul li .groomsman ul li {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

main > section#program {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
    position: relative;
}

main > section#program .timer {
    min-width: max-content;
    margin: 28px 0 0;
    padding: 12px 40px 36px;
    border-radius: 8px;
    font-size: 36px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    background: linear-gradient(to top, var(--green), var(--light-green));
    color: var(--white);
}

main > section#program .timer .days,
main > section#program .timer .hours,
main > section#program .timer .minutes,
main > section#program .timer .seconds {
    position: relative;
}

main > section#program .timer .days::after,
main > section#program .timer .hours::after,
main > section#program .timer .minutes::after,
main > section#program .timer .seconds::after {
    content: 'Дни';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    transform: translateY(125%);
    text-transform: uppercase;
    font-weight: lighter;
    font-style: italic;
    color: var(--white-transparent);
}

main > section#program .timer .hours::after {
    content: 'Ч.';
}

main > section#program .timer .minutes::after {
    content: 'Мин.';
}

main > section#program .timer .seconds::after {
    content: 'Сек.';
}

main > section#program article {
    display: flex;
    gap: 3rem;
    align-items: stretch;
    justify-content: flex-start;
    overflow-x: auto;
    max-width: 100vw;
    padding: 32px;
}

main > section#program article .card {
    flex: 1 0 240px;
    border-radius: 1rem;
    box-shadow: 0 0 30px 1px var(--green);
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
}

main > section#program article .card svg {
    height: 5rem;
    margin-block: 3rem;
}

main > section#program article .card p {
    margin: 0;
    line-height: 1.5;
}

main > section#pictures {
    min-height: fit-content;
    padding: 1rem;
    overflow: hidden;
}

main > section#pictures h2 {
    margin-bottom: 2rem;
}

main > section#pictures .carousel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 97svh;
    margin: auto;
    overflow: hidden;
}

@keyframes carousel-autoplay {
    100% {
        transform: translateX(-600%);
    }
}

main > section#pictures .carousel img {
    min-width: 100%;
    max-width: 100%;
    object-fit: contain;
    animation-name: carousel-autoplay;
    animation-direction: alternate;
    animation-duration: 45s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 10px;
}

/*****
FOOTER
*****/
footer {
    display: block;
    background-color: var(--green);
    color: var(--off-white);
}

footer .back-to-top {
    width: 4rem;
    aspect-ratio: 1;
    overflow: hidden;
    position: fixed;
    bottom: 4.25rem;
    right: 4rem;
    z-index: 1;
    background-color: var(--green);
    outline: 1px solid var(--white-transparent);
    color: var(--white);
    border-radius: 0.5rem;
    opacity: 0.4;
}

footer .back-to-top:hover,
footer .back-to-top:active {
    background-color: var(--dark-green);
    color: var(--white);
    opacity: 1;
}

footer .back-to-top a {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

footer .back-to-top a svg {
    width: 60%;
    margin-top: 1.1rem;
}

footer p {
    margin: 0;
    text-align: center;
    line-height: 10vh;
}

@media only screen and (max-width: 768px) {
    html {
        --sloped-elements-height: 45px;
    }

    header section date {
        font-size: 4rem;
    }

    header nav ul li a {
        font-size: 0.75rem;
    }

    main > section {
        padding: 1rem 2rem;
    }

    main > section#program article .card {
        box-shadow: 0 0 20px 1px var(--green);
    }

    main > section#pictures .carousel {
        height: 67svh;
    }

    footer .back-to-top {
        width: 4rem;
        bottom: 3rem;
        right: 3rem;
    }

    footer .back-to-top a svg {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 568px) {
    .desktop-only {
        display: none;
    }

    header section date {
        font-size: 2.5rem;
    }

    header nav ul li a svg {
        height: 1.5rem;
    }

    main > section > h2 {
        font-size: 28px;
    }

    main > section#invitation .date {
        font-size: 32px;
    }

    main > section#invitation .date span {
        font-size: 26px;
        padding-inline: 0.25ch;
    }

    main > section#invitation a {
        font-size: 20px;
    }

    main > section#information ul li {
        margin: 1.5rem;
    }

    main > section#information ul li .groomsman {
        gap: 16px;
    }

    main > section#program .timer {
        font-size: 30px;
    }

    main > section#program .timer .days::after,
    main > section#program .timer .hours::after,
    main > section#program .timer .minutes::after,
    main > section#program .timer .seconds::after {
        font-size: 12px;
    }

    footer .back-to-top {
        width: 3rem;
        bottom: 2.5rem;
        right: 2rem;
    }

    footer .back-to-top a svg {
        margin-top: 0.75rem;
    }
}
