html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    box-sizing: border-box;
    background-color: #F1EFE4;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    height: 100vh;
    overflow: auto;
}

body * {
    box-sizing: inherit;
}

/*****
HEADER
*****/
header {
    display: flex;
    flex-flow: nowrap column;
    width: 100%;
}

header section {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

header section:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #0A110B11, #0A110B33, #0A110B);
}

header section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

header nav {
    width: 100%;
    height: 10vh;
    z-index: 2;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
}

header nav ul li {
    width: 100%;
    height: 100%;
}

header nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #0A110B;
    color: #F1EFE4;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    font-weight: 900;
}

header nav ul li a:hover,
header nav ul li a:active {
    background-color: #172719;
    color: #FFFFFF;
}

header nav ul li a svg {
    width: auto;
    height: 2rem;
}

header nav ul li a span {
    margin-left: 1rem;
}

/***********
MAIN CONTENT
***********/
main > section {
    min-height: 100vh;
    text-align: center;
    padding: 2rem 5rem;
}

main section h2 {
    text-transform: uppercase;
    font-family: monospace;
    letter-spacing: 0.1rem;
    font-weight: 900;
    margin: 0;
}

main section#program {
    background-color: #686D5F;
    color: #F1EFE4;
}

main section#location {
    display: block;
    height: 95vh;
    min-height: 95vh;
    padding: 0;
}

/*****
FOOTER
*****/
footer {
    display: block;
    height: 5vh;
    background-color: #0A110B;
    color: #F1EFE4;
}

footer .back-to-top {
    width: 5rem;
    aspect-ratio: 1;
    overflow: hidden;
    position: fixed;
    bottom: 4.5rem;
    right: 4.5rem;
    z-index: 1;
    background-color: #0A110B;
    border-radius: 0.5rem;
    opacity: 0.75;
}

footer .back-to-top:hover,
footer .back-to-top:active {
    opacity: 1;
}

footer .back-to-top a {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1EFE4;
}

footer .back-to-top a svg {
    width: 60%;
    margin-top: 1.25rem;
}

footer p {
    margin: 0;
    text-align: center;
    line-height: 5vh;
}

@media only screen and (max-width: 768px) {
    header nav ul li a {
        font-size: 0.75rem;
    }

    footer .back-to-top {
        width: 4rem;
        bottom: 3rem;
        right: 3rem;
    }

    footer .back-to-top a svg {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 568px) {
    .desktop-only {
        display: none;
    }

    header nav ul li a svg {
        height: 1.5rem;
    }

    footer .back-to-top {
        width: 3rem;
        bottom: 2.5rem;
        right: 2rem;
    }

    footer .back-to-top a svg {
        margin-top: 0.75rem;
    }
}
  